* {
    padding: 0;
    margin: 0;
    text-decoration: none;
    list-style: none;
    box-sizing: border-box;
}

.header {
    background-color: transparent;
    height: 100vh;
    width: 100%;
}

.logo {
    position: absolute;
    padding: 20px 50px;
    font-size: 35px;
    text-transform: uppercase;
    /* color: #fff; */
    color: black;
}

.navegacion ul {
    float: right;
    margin-right: 20px;
}

.navegacion ul li {
    display: inline-block;
    line-height: 80px;
    margin: 0 5px;
}

.navegacion ul li a {
    /* color: #fff; */
    color: black;
    font-size: 18px;
    padding: 7px 13px;
    border-radius: 3px;
    text-transform: uppercase;
}

li a.active, li a:hover {
    background: rgb(215, 213, 213);
    transition: .5s;
}

.navegacion-menu {
    font-size: 30px;
    /* color: #fff; */
    color: black;
    float: right;
    line-height: 82px;
    margin-right: 30px;
    cursor: pointer;
}

.navegacion-menu i {
    cursor: pointer;

}

.seccion-contenedor {
    position: relative; 
    height: 100%; 
}

.video-contenedor {
    position: absolute;
    top: 0;
    left: 0;
    z-index: -1;
    width: 100%;
    height: 100%;
    overflow: hidden;
}

.video-contenedor video {
    position: relative;
    top: 50%;
    left: 50%;
    object-fit: cover;
    width: 100%;
    height: 100%;
    transform: translate(-50%, -50%);
}

#btn-menu {
    display: none;
}

.contenedor-menu {
    position: absolute;
    background: rgb(0, 0, 0, 0.5);
    width: 100%;
    height: 100vh;
    top: 0;
    right: 0;
    transition: all 500ms ease;
    opacity: 0;
    visibility: hidden;
}

#btn-menu:checked ~ .contenedor-menu {
    opacity: 1;
    visibility: visible;
}

.cont-menu {
    float: right;
    width: 100%;
    max-width: 250px;
    background: #1c1c1c;
    height: 100vh;
    position: relative;
    transition: all 500ms ease;
    transform: translateZ(-100%);
}

#btn-menu:checked ~ .contenedor-menu .cont-menu {
    transform: translateX(0%);
}

.cont-menu nav a{
    display: block;
    padding: 20px;
    margin: 50px 0;
    font-size: 20px;
    text-decoration: none;
    color: #c7c7c7;
    border-right: 5px solid transparent;
    transition: all 400ms ease;
}

.cont-menu nav a:hover {
    border-right: 5px solid #c7c7c7;
    background: #1f1f1f;
}

.cont-menu label {
    position: absolute;
    right: 5px;
    top: 10px;
    color: #fff;
    cursor: pointer;
    font-size: 18px;
}

.contenedor-frase {
    position: relative;
    height: 840px;
    background-color: rgb(18, 18, 18);
}

.header-frase {
    padding-top: 19px;
    font-size: 26px;
    text-align: center;
    color: rgb(255, 255, 255);;
}

.caja-frase {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    text-align: center;
    width: 100%;
    color: rgb(255, 255, 255);;
}

.caja-frase p {
    margin-bottom: 50px;
    font-size: 45px;
    line-height: 55px;
    text-transform: uppercase;
}

.caja-frase p.titulo {
    position: relative;
    overflow: hidden;
    margin-bottom: 15px;
    font-size: 150px;
    line-height: 125px;
}

.caja-animacion {
    position: absolute;
    transform: translate(30%, -230px);
    left: 50%;
    background-size: 100%;
}

.caja-animacion {
    width: 460px;
    height: 100%;
    background-repeat: no-repeat;
}

.info-imagen {
    position: relative;
    width: 100%;
    border-top: 1px solid rgb(255, 255, 255);
    border-bottom: 1px solid rgb(255, 255, 255);
    font-size: 0px;
}

.info .info-imagen::before {
    top: -4px;
}

.info .info-imagen::before, .info-imagen::after {
    content: "";
    position: absolute;
    display: block;
    width: 28px;
    height: 8px;
    background-color: rgb(255, 255, 255);
    left: calc(50% - 16px);
    z-index: 1;
}

.info .imagen:first-of-type {
    border-right: 1px solid rgb(255, 255, 255);
}

.info .imagen {
    position: relative;
    display: inline-block;
    width: 50%;
    perspective: 1px;
    overflow: hidden;
}

a, a:link, button:link {
    text-decoration: none;
    cursor: pointer;
    transition: all 0.2s ease 0s;
}

.info .imagen .imagen-titulo {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    text-align: center;
    width: 100%;
    color: rgb(255, 255, 255);
    z-index: 1;
}

.info .imagen .imagen-titulo .arriba-titulo {
    margin-bottom: 15px;
    font-size: 1.8118vw;
}

.info .imagen .imagen-titulo .abajo-titulo {
    font-size: 3.1359vw;
}

.info .imagen .imagen-btn {
    display: flex;
    -webkit-box-align: center;
    align-items: center;
    position: absolute;
    left: 50%;
    bottom: 7.2474vw;
    border: 0px;
    border-radius: 1.3937vw;
    padding: 0.8362vw 1.115vw;
    font-size: 0.9756vw;
    line-height: 1.115vw;
    background-color: transparent;
    color: rgb(255, 255, 255);
    transition: all 0.4s ease 0s;
    transform: translateX(-50%);
    z-index: 1;
}

.info .imagen-imagenuno {
    top: 0px;
    left: 0px;
    background-size: cover;
    height: 100%;
    width: 100%;
    transition: all 0s ease 0s;
}

.info .imagen-imagenuno::before {
    content: "";
    position: absolute;
    inset: 0px;
    background-color: rgb(0, 0, 0, 0.5);
}

.info .imagen-imagendos {
    top: 0px;
    left: 0px;
    background-size: cover;
    height: 100%;
    width: 100%;
    transition: all 0s ease 0s;
}

.info .imagen-imagendos::before {
    content: "";
    position: absolute;
    inset: 0px;
    background-color: rgb(0, 0, 0, 0.5);
}

.info-footer {
    width: 100%;
    height: 126px;
}

/* .info .info-instagram {
    font-family: ;
} */

.info button {
    width: 100%;
    height: 100%;
    padding: 48px 0px;
    border: 0px;
    font-size: 26px;
    line-height: 28px;
    text-align: center;
    background-color: rgb(255, 71, 59);
    color: rgb(0, 0, 0);
    display: flex;
    -webkit-box-align: center;
    align-items: center;
    -webkit-box-pack: center;
    justify-content: center;
}

.info button a {
    cursor: pointer;
    color: black;
}